<div class='text-center mt-5'>
    <h1>EHR Predict</h1>
    <h5 class='text-muted'>Welcome to EHR Predict, where we predict how likely it is you will kick the bucket in the next 24-Hours</h5>
</div>

<div class='text-center'>
<%= image_tag("EHR_predict_logo.png", :class => 'mx-auto w-25 h-25')%>
</div>

<div class='text-center mt-5'>
    <%= link_to 'Predictive Analysis', {:controller => :home, :action => :new}, {class: 'btn btn-success'} %>
</div>